{{define "language-selector"}}
{{ if gt (len .i18n.Registry.Languages ) 1 }}
<div class="is-line"></div>
<ul class="lang-selector">
    {{ range $elm := .i18n.Registry.Languages }}<li>
    <a href="change-language?lang={{ $elm }}">
            <img alt="{{ $elm }} src= static/language/{{ $elm }}.svg"></a></li>
    {{ end }}</ul>
{{ end }}
{{end}}