---
title: Account
---
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <title><%- title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <section>
        <%- content %>
        <%- include('/_components/language-selector.ejs') %>
    </section>
</body>

</html>