<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/main.css">
</head>

<body>
    <section>
        
<div class="card">
    <h1>{{ .i18n.T "title" }}</h1>
    <p>
        {{ .i18n.T "message" }}
        <br />
        <a  href="javascript:history.back()">
            {{ .i18n.T "go_back" }}
        </a>
    </p>
</div>
        
{{ if gt (len .i18n.Registry.Languages ) 1 }}
<div class="is-line"></div>
<ul class="lang-selector">
{{ range $elm := .i18n.Registry.Languages }}
   <li>
        <a href="change-language?lang={{ $elm }}&return_url=/account/">
           <img alt="{{ $elm }}" src="static/language/{{ $elm }}.svg" />
        </a>
   </li>
{{ end }}
</ul>
{{ end }}
    </section>
</body>

</html>