<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/main.css">
</head>

<body>
    <section>
        
<div class="card">
    {{ if .successful }}
    <div class="alert is-success" role="alert">
    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px" viewBox="0 0 305.002 305.002" style="enable-background: new 0 0 305.002 305.002" xml:space="preserve">
        <g>
            <g>
                <path
                    d="M152.502,0.001C68.412,0.001,0,68.412,0,152.501s68.412,152.5,152.502,152.5c84.089,0,152.5-68.411,152.5-152.5 S236.591,0.001,152.502,0.001z M152.502,280.001C82.197,280.001,25,222.806,25,152.501c0-70.304,57.197-127.5,127.502-127.5 c70.304,0,127.5,57.196,127.5,127.5C280.002,222.806,222.806,280.001,152.502,280.001z" />
                <path
                    d="M218.473,93.97l-90.546,90.547l-41.398-41.398c-4.882-4.881-12.796-4.881-17.678,0c-4.881,4.882-4.881,12.796,0,17.678 l50.237,50.237c2.441,2.44,5.64,3.661,8.839,3.661c3.199,0,6.398-1.221,8.839-3.661l99.385-99.385 c4.881-4.882,4.881-12.796,0-17.678C231.269,89.089,223.354,89.089,218.473,93.97z" />
            </g>
        </g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
    </svg>
    <p>
        {{ .i18n.T "success" .success_message }}      
    </p>
</div>
    {{ else }} {{if .error}}
    <div class="alert is-error" role="alert">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path
        d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"
      ></path>
      <line x1="12" y1="9" x2="12" y2="13"></line>
      <line x1="12" y1="17" x2="12.01" y2="17"></line>
    </svg>
    <p>
      {{ .i18n.T  "errors" .error }} 
    </p>
  </div>
    {{end}}
    <form action="forgotten-password" method="POST">
      {{ .csrfField }}
      <fieldset>
        <legend>{{ .i18n.T "title"}}</legend>
        <p>{{ .i18n.T "message"}}</p>
        <div class="field">
          <label for="email"> {{ .i18n.T "fields.email"}} </label>
          <input type="email" required  value="{{ .email }}" name="email" />
        </div>
        <div class="field">
          <button type="submit">{{ .i18n.T "fields.request"}}</button>
        </div>
      </fieldset>
    </form>
    {{end}}
  </div>
  <div class="flex mt">
        <div class="flex-basis-49 text-align-center">
            <small>
              <a href="/account/signin">
                    {{ .i18n.T "login_link"}}
                </a>
            </small>
        </div>
        <div class="flex-basis-49 text-align-center">
            <small>
                <a href="/account/signup">
                    {{ .i18n.T "new_account_link"}}
                </a>
            </small>
        </div>
    </div>
        
{{ if gt (len .i18n.Registry.Languages ) 1 }}
<div class="is-line"></div>
<ul class="lang-selector">
{{ range $elm := .i18n.Registry.Languages }}
   <li>
        <a href="change-language?lang={{ $elm }}&return_url=/account/forgotten-password">
           <img alt="{{ $elm }}" src="static/language/{{ $elm }}.svg" />
        </a>
   </li>
{{ end }}
</ul>
{{ end }}
    </section>
</body>

</html>