---
layout: layout.ejs
permalink: "/<%- page.fileSlug %>.html"
endpoint: "change-password"
title: '{{ .i18n.T "title" }}'
---

<div class="card">
    {{ if .successful }}
    <%- include('/_components/alert-success.ejs') %>
    {{ else }}
    {{if .error}}
    <%- include('/_components/alert-error.ejs');  %>
    {{end}}
    <form action="change-password" method="POST">
        {{ .csrfField }}
        <fieldset>
            <legend>{{ .i18n.T "title"}}</legend>
                   <div class="field">
                <label for="old_password">
                     {{ .i18n.T "fields.old_password" }}
                </label>
                <input type="password" required name="old_password" >
            </div>
               <div class="field">
                <label for="password">
                    {{ .i18n.T "fields.new_password" }}
                </label>
                <input type="password" required name="new_password" >
            </div>
            <div class="field">
                <label for="passwordAgain">
                    {{ .i18n.T "fields.new_password_again" }}
                </label>
                <input type="password" required name="new_password_again">
            </div>
          <div class="field">
                <button type="submit">{{ .i18n.T "fields.save" }}</button>
            </div>   
        </fieldset>
    </form>
    {{end}}
</div>
<div class="mt">
    <div class="text-align-center">
        <small>
            <a href="/account/">
                {{ .i18n.T "back_link"}}
            </a>
        </small>
    </div>
</div>