---
layout: layout.ejs
permalink: "/<%- page.fileSlug %>.html"
endpoint: "recover"
title: '{{ .i18n.T "title" }}'
---

<div class="card">
    {{ if .successful }}
    <%- include('/_components/alert-success.ejs') %>
    {{ else }} {{if .error}}
    <%- include('/_components/alert-error.ejs');  %>
    {{end}}
    <form action="recover" method="POST">
      {{ .csrfField }}
      <fieldset>
        <legend>{{ .i18n.T "title"}}</legend>
         <div class="field">
          <label for="recovery_token"> {{ .i18n.T "fields.recovery_token"}} </label>
          <input type="text" value="{{ .recovery_token }}" required  name="recovery_token" />
        </div>
        <div class="field">
          <label for="email"> {{ .i18n.T "fields.email"}} </label>
          <input type="email" required  name="email" />
        </div>
        <div class="field">
          <label for="password"> {{ .i18n.T "fields.new_password"}} </label>
          <input type="password" required  name="password" />
        </div>
        <div class="field">
          <label for="password_again"> {{ .i18n.T "fields.new_password_again"}} </label>
          <input type="password" required  name="password_again" />
        </div>
        <div class="field">
          <button type="submit">{{ .i18n.T "fields" "save"}}</button>
        </div>
      </fieldset>
    </form>
    {{end}}
  </div>
  <div class="flex mt">
        <div class="flex-basis-49 text-align-center">
            <small>
              <a href="/account/signin">
                    {{ .i18n.T "login_link"}}
                </a>
            </small>
        </div>
        <div class="flex-basis-49 text-align-center">
            <small>
                <a href="/account/signup">
                    {{ .i18n.T "new_account_link"}}
                </a>
            </small>
        </div>
  </div>