---
layout: layout.ejs
permalink: "/<%- page.fileSlug %>.html"
endpoint: "forgotten-password"
---

<div class="card">
    {{ if .successful }}
    <%- include('/_components/alert-success.ejs') %>
    {{ else }} {{if .error}}
    <%- include('/_components/alert-error.ejs');  %>
    {{end}}
    <form action="forgotten-password" method="POST">
      {{ .csrfField }}
      <fieldset>
        <legend>{{ .i18n.T "title"}}</legend>
        <p>{{ .i18n.T "message"}}</p>
        <div class="field">
          <label for="email"> {{ .i18n.T "fields.email"}} </label>
          <input type="email" required  value="{{ .email }}" name="email" />
        </div>
        <div class="field">
          <button type="submit">{{ .i18n.T "fields.request"}}</button>
        </div>
      </fieldset>
    </form>
    {{end}}
  </div>
  <div class="flex mt">
        <div class="flex-basis-49 text-align-center">
            <small>
              <a href="/account/signin">
                    {{ .i18n.T "login_link"}}
                </a>
            </small>
        </div>
        <div class="flex-basis-49 text-align-center">
            <small>
                <a href="/account/signup">
                    {{ .i18n.T "new_account_link"}}
                </a>
            </small>
        </div>
    </div>